# Day1
<b>Target:<br>
    Operators(+,*,-,/,//,%)<br>
    Datatypes(int,float,string,list,set,dict,tuple)<br>
    Variables(how to write)<br>
    builtin function(max(),min(),abs(),diff(),sort())<br>
    Type casting(int(),float(),str())<br>
    how to take simple input()

In [1]:
a=10
print(a)

10

In [16]:
b=21//2

print(b)

10

In [34]:
#power
10**2

100

In [ ]:
floor division //
11.5,12.34,10.88

In [15]:
10.88*2

21.76

In [18]:
#floor,ceil
x=10.5
#10<x<11
y=10.5//1
print(y)

10.0

In [26]:
10%3

1

In [ ]:
mod

In [23]:
10/2

5.0

In [30]:
x=24
if x%2==0:
    print("even")
else:
    print("odd")

even

In [1]:
Exercise:

2

# Variables:<br>
   <b>A variable name must start with a letter or the underscore character<br>
    A variable name cannot start with a number<br>
    A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )<br>
    Variable names are case-sensitive (firstname, Firstname, FirstName and FIRSTNAME are different variables)<br>
    
Examples:<br>
    Valid:<br>
    firstname<br>
lastname<br>
age<br>
country<br>
city<br>
first_name<br>
last_name<br>
capital_city<br>
_if # if we want to use reserved word as a variable<br>
year_2019<br>
year2019<br>
current_year_2019<br>
num1<br>
num2<br>

In [62]:
a1=10
print(A1)

NameError: name 'A1' is not defined

In [45]:
help("keywords")

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               def                 if                  raise
None                del                 import              return
True                elif                in                  try
and                 else                is                  while
as                  except              lambda              with
assert              finally             nonlocal            yield
break               for                 not
class               from                or
continue            global              pass

1=10

In [58]:
1=10

SyntaxError: can't assign to literal (<ipython-input-58-44de70f1a1b6>, line 1)

In [8]:
#print('Hello',',', 'World','!')

In [9]:
#first_name = input('What is your name: ')

In [10]:
#a=10
#type(a)
#print(type(3.14))

Inside 30DaysOfPython create a folder called day_2. Inside this folder create a file named variables.py
Write a python comment saying 'Day 2: 30 Days of python programming'
Declare a first name variable and assign a value to it
Declare a last name variable and assign a value to it
Declare a full name variable and assign a value to it
Declare a country variable and assign a value to it
Declare a city variable and assign a value to it
Declare an age variable and assign a value to it
Declare a year variable and assign a value to it
Declare a variable is_married and assign a value to it
Declare a variable is_true and assign a value to it
Declare a variable is_light_on and assign a value to it
Declare multiple variable on one line
Check the data type of all your variables using type() built-in function
Using the len() built-in function find the length of your first name
Compare the length of your first name and your last name
Declare 5 as num_one and 4 as num_two
Add num_one and num_two and assign the value to a variable _total
Subtract num_two from num_one and assign the value to a variable _diff
Multiply num_two and num_one and assign the value to a variable _product
Divide num_one by num_two and assign the value to a variable _division
Use modulus division to find num_two divided by num_one and assign the value to a variable _remainder
Calculate num_one to the power of num_two and assign the value to a variable _exp
Find floor division of num_one by num_two and assign the value to a variable _floor_division
The radius of a circle is 30 meters.
Calculate the area of a circle and assign the value to a variable area_of_circle
Calculate the circumference of a circle and assign the value to a variable circum_of_circle
Take radius as user input and calculate the area.
Use the built-in input function to get first name, last name, country and age from a user and store the value to their corresponding variable names
Run help('keywords') in python shell or in your file to check for the reserved words

In [35]:
x=25
type(x)

int

In [ ]:
#int integer
#str string
#float float
#list list
#double

In [44]:
a=float(25)
print(type(a))
a

<class 'float'>

25.0

In [47]:
_def =10

In [48]:
print(_def)

10

In [50]:
l=["abc",1,10.0]

TypeError: 'list' object is not callable

In [68]:
help([].reverse)

Help on built-in function reverse:

reverse(...) method of builtins.list instance
    L.reverse() -- reverse *IN PLACE*

In [64]:
a="abcd"
a.capitalize()

'Abcd'

In [89]:

l=[]
s=""
t=(),
s=set()
d={}
type(t)

tuple

In [82]:
a=10
k=[]
for i in range(a):
    k.append(i)
print(k)
k.pop()
print(k)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [83]:
t=tuple(k)

In [84]:
print(t)

(0, 1, 2, 3, 4, 5, 6, 7, 8)

In [86]:
k=t[0:3]

(0, 1, 2)

In [90]:
l=[1,2,3,4,5]

In [92]:
max(l)

5

In [93]:
min(l)

1

In [98]:
l.reverse()

In [99]:
print(l)

[5, 4, 3, 2, 1]

In [96]:
l.sort()

In [97]:
print(l)

[1, 2, 3, 4, 5]

In [100]:
a=sorted(l)

In [101]:
print(a)

[1, 2, 3, 4, 5]

In [102]:
print(l)

[5, 4, 3, 2, 1]

In [105]:
a="A"
print(ord(a))

65

In [107]:
ord("Z")

90

In [109]:
help("".isalpha)

Help on built-in function isalpha:

isalpha(...) method of builtins.str instance
    S.isalpha() -> bool

    Return True if all characters in S are alphabetic
    and there is at least one character in S, False otherwise.

In [123]:
a=int(input("Enter the number"))
print(a*a)
print(type(a))

Enter the number100
10000
<class 'int'>

In [135]:
a=input().split("/")
#10/20/30
print(a)

10,20,30
['10,20,30']

In [137]:
"""Hello i am student"""

'Hello i am student'

In [138]:
country="india"

In [139]:
country

'india'

In [140]:
a=10
b=20
c,d=30,40

In [143]:
a="abcde"
print(len(a))

5

In [150]:
s="ram krishna"
b="krishna"
first=len(s)
second=len(b)
if first>second:
    print(s)
else:
    print(b)

ram krishna

In [151]:
a,b=5,4
c=a+b
print(c)

9

In [152]:
s=a**b
print(s)

625

In [153]:
r=30
area=3.14*(r**2)
print(area)

2826.0

In [160]:
import math
r=30
area=math.pi*r**2
print(area)

2827.4333882308138

In [162]:
no=input("Enter the no ")
letter=input("enter th letter: ")

Enter the no 10
enter th letter: A

In [163]:
#pip install notebook-as-pdf

Collecting notebook-as-pdfNote: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 20.1; however, version 20.1.1 is available.
You should consider upgrading via the 'C:\Users\DELL\Anaconda3\python.exe -m pip install --upgrade pip' command.

  Downloading notebook_as_pdf-0.0.2-py3-none-any.whl (5.3 kB)
Collecting pikepdf
  Downloading pikepdf-1.16.0-cp36-cp36m-win_amd64.whl (1.4 MB)
Requirement already satisfied: pyppeteer in c:\users\dell\anaconda3\lib\site-packages (from notebook-as-pdf) (0.0.25)
Requirement already satisfied: nbconvert in c:\users\dell\appdata\roaming\python\python36\site-packages (from notebook-as-pdf) (5.6.1)
Requirement already satisfied: lxml>=4.0 in c:\users\dell\anaconda3\lib\site-packages (from pikepdf->notebook-as-pdf) (4.1.1)
Requirement already satisfied: urllib3 in c:\users\dell\anaconda3\lib\site-packages (from pyppeteer->notebook-as-pdf) (1.22)
Requirement already satisfied: appdirs in c:\users\dell\anaconda3\lib\site-packages (from pyppeteer->notebook-as-pdf) (1.4.3)
Requirement already satisfied: websockets in c:\users\dell\anaconda3\lib\site-packages (from pyppeteer->notebook-as-pdf) (8.1)
Requirement already satisfied: tqdm in c:\users\dell\anaconda3\lib\site-packages (from pyppeteer->notebook-as-pdf) (4.46.0)
Requirement already satisfied: pyee in c:\users\dell\anaconda3\lib\site-packages (from pyppeteer->notebook-as-pdf) (7.0.1)
Requirement already satisfied: defusedxml in c:\users\dell\appdata\roaming\python\python36\site-packages (from nbconvert->notebook-as-pdf) (0.6.0)
Requirement already satisfied: entrypoints>=0.2.2 in c:\users\dell\anaconda3\lib\site-packages (from nbconvert->notebook-as-pdf) (0.2.3)
Requirement already satisfied: bleach in c:\users\dell\anaconda3\lib\site-packages (from nbconvert->notebook-as-pdf) (2.1.2)
Requirement already satisfied: mistune<2,>=0.8.1 in c:\users\dell\anaconda3\lib\site-packages (from nbconvert->notebook-as-pdf) (0.8.3)
Requirement already satisfied: nbformat>=4.4 in c:\users\dell\anaconda3\lib\site-packages (from nbconvert->notebook-as-pdf) (4.4.0)
Requirement already satisfied: pygments in c:\users\dell\anaconda3\lib\site-packages (from nbconvert->notebook-as-pdf) (2.6.1)
Requirement already satisfied: jinja2>=2.4 in c:\users\dell\anaconda3\lib\site-packages (from nbconvert->notebook-as-pdf) (2.10)
Requirement already satisfied: pandocfilters>=1.4.1 in c:\users\dell\anaconda3\lib\site-packages (from nbconvert->notebook-as-pdf) (1.4.2)
Requirement already satisfied: jupyter-core in c:\users\dell\anaconda3\lib\site-packages (from nbconvert->notebook-as-pdf) (4.6.3)
Requirement already satisfied: testpath in c:\users\dell\anaconda3\lib\site-packages (from nbconvert->notebook-as-pdf) (0.3.1)
Requirement already satisfied: traitlets>=4.2 in c:\users\dell\anaconda3\lib\site-packages (from nbconvert->notebook-as-pdf) (4.3.2)
Requirement already satisfied: six in c:\users\dell\anaconda3\lib\site-packages (from bleach->nbconvert->notebook-as-pdf) (1.14.0)
Requirement already satisfied: html5lib!=1.0b1,!=1.0b2,!=1.0b3,!=1.0b4,!=1.0b5,!=1.0b6,!=1.0b7,!=1.0b8,>=0.99999999pre in c:\users\dell\anaconda3\lib\site-packages (from bleach->nbconvert->notebook-as-pdf) (1.0.1)
Requirement already satisfied: ipython_genutils in c:\users\dell\anaconda3\lib\site-packages (from nbformat>=4.4->nbconvert->notebook-as-pdf) (0.2.0)
Requirement already satisfied: jsonschema!=2.5.0,>=2.4 in c:\users\dell\anaconda3\lib\site-packages (from nbformat>=4.4->nbconvert->notebook-as-pdf) (2.6.0)
Requirement already satisfied: MarkupSafe>=0.23 in c:\users\dell\anaconda3\lib\site-packages (from jinja2>=2.4->nbconvert->notebook-as-pdf) (1.0)
Requirement already satisfied: pywin32>=1.0; sys_platform == "win32" in c:\users\dell\anaconda3\lib\site-packages (from jupyter-core->nbconvert->notebook-as-pdf) (222)
Requirement already satisfied: decorator in c:\users\dell\anaconda3\lib\site-packages (from traitlets>=4.2->nbconvert->notebook-as-pdf) (4.2.1)
Requirement already satisfied: webencodings in c:\users\dell\anaconda3\lib\site-packages (from html5lib!=1.0b1,!=1.0b2,!=1.0b3,!=1.0b4,!=1.0b5,!=1.0b6,!=1.0b7,!=1.0b8,>=0.99999999pre->bleach->nbconvert->notebook-as-pdf) (0.5.1)
Installing collected packages: pikepdf, notebook-as-pdf
Successfully installed notebook-as-pdf-0.0.2 pikepdf-1.16.0

In [5]:
a=list(map(str,input()))

10

In [6]:
print(a)

['1', '0']

In [10]:
c="abc"
b=list(c)

In [12]:
b

['a', 'b', 'c']